{% extends 'base.html.twig' %}
{% form_theme form 'BshdevBundle:template:form.html.twig' %}

{% block body %}
        <h1 class="title">Je modifie un partenaire</h1>

        <div class="row block-form">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.alt) }}
                {{ form_row(form.fileLogo, {'attr': {'class': 'border'} }) }}

                <a href="{{ path('partner_index') }}"><button type="submit" class="col-xs-12  col-md-offset-1 col-md-4 button">Annuler</button></a>

                <input type="submit" value="Ajouter" class="col-xs-12 col-md-offset-1 col-md-4 button" />
                {{ form_end(form) }}

            </div>
        </div>

{% endblock %}
