{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Concil</th>
                <td>{{ admin.concil }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{ admin.services }}</td>
            </tr>
            <tr>
                <th>Infrastruture</th>
                <td>{{ admin.infrastruture }}</td>
            </tr>
            <tr>
                <th>History</th>
                <td>{{ admin.history }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ admin.number }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ admin.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ admin.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ admin.address }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ admin.postalCode }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ admin.town }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ admin.phone }}</td>
            </tr>
            <tr>
                <th>Cellphone</th>
                <td>{{ admin.cellphone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
