{% extends 'base.html.twig' %}

{% block body %}
    {% for career in careers %}
        <div class="row">
            <a href="{{ path('career_show', {'id': career.id}) }}">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite">

                    <div class="row ">
                        <table>
                            <tr>
                                <th class=" col-xs-2">Nom</th>
                                <th class=" col-xs-2">Prénom</th>
                                <th class="col-xs-3">Adresse postal</th>
                                <th class=" col-xs-2">Téléphone</th>
                                <th class=" col-xs-3">Email</th>
                            </tr>
                            <tr>
                                <td class="col-xs-2">{{ career.lastname }}</td>
                                <td class="col-xs-2">{{ career.firstname }}</td>
                                <td class="col-xs-2">{{ career.address }} {{ career.cp }} {{ career.town }}</td>
                                <td class="col-xs-3">{{ career.phone }}</td>
                                <td class="col-xs-3">{{ career.email }}</td>
                            </tr>

                        </table>

                    </div>
                </section>
            </a>
        </div>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('career_new') }}">Create a new career</a>
        </li>
    </ul>
{% endblock %}
