{% extends 'base.html.twig' %}

{% block body %}
    <h1>Career</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ career.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ career.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ career.lastname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ career.address }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ career.cp }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ career.town }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ career.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ career.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('career_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('career_edit', { 'id': career.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
