{% extends 'base.html.twig' %}

{% block body %}
    {% for person in persons %}
        <div class="row">
            <a href="{{ path('person_show', {'id': person.id}) }}">
                <section class="col-sm-offset-1 col-sm-10 col-xs-12 backWhite">

                    <div class="row ">
                        <table>
                            <tr>
                                <th class=" col-xs-2">Nom</th>
                                <th class=" col-xs-2">Prénom</th>
                                <th class="col-xs-3">Adresse postal</th>
                                <th class=" col-xs-2">Téléphone</th>
                                <th class=" col-xs-3">Email</th>
                            </tr>
                            <tr>
                                <td class="col-xs-2">{{ person.lastname }}</td>
                                <td class="col-xs-2">{{ person.firstname }}</td>
                                <td class="col-xs-2">{{ person.address }} {{ person.cp }} {{ person.town }}</td>
                                <td class="col-xs-3">{{ person.phone }}</td>
                                <td class="col-xs-3">{{ person.email }}</td>
                            </tr>

                        </table>

                    </div>
                </section>
            </a>
        </div>
    {% endfor %}

{#    <ul>
        <li>
            <a href="{{ path('person_new') }}">Create a new person</a>
        </li>
    </ul>#}
{% endblock %}
