{% extends '::base.html.twig' %}
{% block body %}

    <section class="row carousel-row">
    {% for admin in admins %}
        <div class="col-xs-12 slide-row homeCarousel">
            <div class="carousel slide slide-carousel" id="carousel-1" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ asset('bundles/bshdev/img/Visuel_Slide_Conseil_1600x647.jpg') }}" alt="Image">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/bshdev/img/Visuel_Slider_Services_1600x647.jpg') }}" alt="Image">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/bshdev/img/bat.jpg') }}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="row">
        <div class="experiences">
            <div class="row">
                <div class="col-md-4">
                    <div class=" col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-8 backWhite block-homepage">
                        <h3 class="title">CONSEIL</h3>
                        <!-- |raw -> Displays text without html basics-->
                        <div id="concil">{{ admin.concil | raw }}</div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class=" col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 backWhite block-homepage">
                        <h3 class="title">SERVICES NUMERIQUES</h3>
                        {{ admin.services | raw }}
                    </div>
                </div>


                <div class="col-md-4">
                    <div class=" col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-8 backWhite block-homepage">
                        <h3 class="title">INFRASTRUCTURES</h3>
                        {{ admin.infrastruture | raw}}
                    </div>
                </div>

            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}

            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('admin_editHomepage', {'id' : admin.id}) }}">
                        <button type="submit" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-3 button">Modifier</button>
                    </a>
                </div>
            </div>

        {% endif %}
    {% endfor %}
    </section>

{% endblock%}