<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ path('bshdev_home') }}">
			<img src="{{ asset('bundles/bshdev/img/logo BSHDEV_final.png') }}" alt="BshDEV" class="img">
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
            {% if is_granted("ROLE_ADMIN") %}
				<li class="active"><a href="{{ path('bshdev_home') }}">Modifier la page Acceuil</a></li>
				<li><a href="{{ path('person_index') }}">Candidature spontanée</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Offres d'emploi <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('job_new') }}">Ajouter</a></li>
						<li><a href="{{ path('person_new') }}">Modifier/Supprimer</a></li>
					</ul>
				</li>
				<li><a href="#">Nous contacter</a></li>
				<li>
					<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
				</li>
            {% else %}
				<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>

				<li class="active"><a href="{{ path('bshdev_home') }}">Acceuil</a></li>
				<li><a href="#">A propos</a></li>
				<li><a href="#">Savoir-faire</a></li>
				<li><a href="#">Références</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Carriére <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('job_index') }}">Nos Offres d'emploi</a></li>
						<li><a href="{{ path('person_new') }}">Candidature spontanée</a></li>
					</ul>
				</li>
				<li><a href="#">Nous contacter</a></li>
            {% endif %}
		</ul>

	</div><!-- /.navbar-collapse -->
</nav>
