{% extends 'base.html.twig' %}
{% form_theme form 'BshdevBundle:template:form.html.twig' %}

{% block body %}
    <h1>Admin edit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Je valide ma modification" class="button" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bshdev_home') }}">
                <button type="submit" class="button">Retour à la page</button></a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="button">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <script type="text/javascript" >
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'demo' );
    </script>
    {{ dump() }}
{% endblock %}