{% extends 'base.html.twig' %}
{% form_theme form 'BshdevBundle:template:Editform.html.twig' %}

{% block body %}
    <h2>Modifier la Homepage</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            {{ form_row(form.concil ) }}
            {{ form_row(form.services) }}
            {{ form_row(form.infrastruture) }}

            <a href="{{ path('bshdev_home') }}"><button type="submit" class=" col-xs-offset-1 col-xs-10  col-offset-md-2 col-md-3 button">Annuler</button></a>

            <input type="submit" value="Je valide ma modification" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-3 button" />
            {{ form_end(form) }}

        </div>
    </div>


    <script type="text/javascript" >
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'demo' );
    </script>
{% endblock %}